@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" asp-controller="Home">
    <input type="number" name="id" placeholder="yourId" />
    <input type="text" name="name" placeholder="yourName" />
    <button type="submit">ajax yap ve gözlemle</button>
</form>
<strong>@ViewBag.data</strong>
<script>
    function metot(){
        var formData = {
            id: $("input[name:id]").val(),
            name: $("input[name:name]").val()
        };
        $.ajax({
            url: @Url.Action("Index","Home"),
            type: 'POST',
            data: formData,
            // success:function(){

            // }
           
        });

    };
</script>